section {
	.contact {
		width: 360px;
		height: 350px;
		background-color: rgb(190, 239, 11);
		border-radius: 50px;

		.name {
			font-size: 30px;
			display: flex;
			justify-content: center;
		}
    .click{
      width: 150px;
				height: 30px;
				background: rgb(9, 63, 226);
				margin-left: 100px;
    }
		.img {
			width: 350px;
			height: 250px;
			border-radius: 30px;
			display: flex;
			justify-content: center;
			padding: 10px;
		}
		.age {
			font-size: 30px;
			display: flex;
			justify-content: center;
		}
	}
}
.filter {

	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	// width: 450px;
	// height: 500px;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	.job{
		width: 700px;
		height: 400px;
		background: purple;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		border-radius: 60px;
    margin: 20px;
    gap: 20px;
	}

	.kartin {
		width: 300px;
		height: 200px;
		border-radius: 60px;
	}
	.rilly{
		width: 200px;
		height: 30px;
	}
}
